@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

/* media */


/* text-font + size */

h1 {
    color: #BBB6A7;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 38px;
    padding: 5px;
    font-weight: 600;
    align-items: left;
    margin-top: 0;
    margin-bottom: 1px;

}

h2 {
    background-color: orange;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 20px;
    text-align: center;

}

h3 {
    font-size: 20px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: normal;

}


p {
    font-size: 15px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-style: normal;
    text-align: center;

}

/* footer text */
a {
    font-size: 10px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-style: normal;
    text-align: center;
    padding: 5px;
}

b {
    font-size: 10px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-style: normal;
    text-align: center-right;
    padding: 5px;
}

hr {
    color: #992626;
}

strong {
    color: #992626;
    font-size: 20px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 550;
}

.text p.heading {
    color: #992626;
    font-size: 10px;
}

/* generic */
.gen-button {
    height: 35px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    background-color: #992626;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 13px;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: inherit;
}

/* navigation */

.header {
    color: plum;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    list-style-type: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    align-items: center;

}

li {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 15px;
    display: inline-flex;
    float: center;

}

.nav-button {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    background: none;
    color: #992626;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

/* introduction */

.big-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    scale: 80%;
    padding: 20px;
}

.about-button {
    height: 35px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    background-color: #992626;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 13px;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: inherit;

}

.intro-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin: 40px;
    max-width: 500px;
    margin: auto;

}

/* capabilities */
.body-section {
    text-align: center;
    margin-top: 5px;
    padding: 30px;

}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: auto;

}

.image-container img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
}

.introductionpt2 {
    background-color: #992626;
    color: white;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;


}

.about-me {
    text-align: center;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
}

.profilepic {
    align-items: left;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* summary */

.summary-box {
    display: grid;
    height: 400px;
    padding: 50px;
    background-color: #fff;
    color: #992626; 
}


.summaryhero {
    display: flex;
    flex-wrap: wrap;
}


/* ux skills */
.uxlist {
    background-color: #992626;
    display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 10px;
margin-bottom: 10px;
}
.uxskills {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
color: white;
place-items: center;
}




/* selected works */

.selected-works {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.project-head {
    position: sticky;
    top: 0;
}

.projects {
    display: grid;
    place-items: center;
    justify-content: center;
    min-height: 98vh;
    text-align: center;
    margin-top: 5px;
}

.project-card {
    border-radius: 0;
    margin: auto;
    display: grid;
    border-style: solid;
    border-color: #992626;
    border-width: 0.5px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
}

.textandimage {
    display: grid;
    grid-template-columns: 54px 1fr;
    margin-top: 10px;
    position: relative;
}

.box-icon {
    display: grid;
    place-items: center;
}

.box-label {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 14px;
    letter-spacing: 0.125em;
}

.project-title {
    white-space: nowrap;
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 24px;
    padding-top: 10px;
}

.project-image {
    height: 400px;
    border-radius: 18px 0 18px 0;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
        
    }
}

.studio-button {
    
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    background: #992626;
    color: white;
    padding: 8px 10px;
    border-radius: 50px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    transition: 0.35s ease all;
    overflow: hidden;
    max-width: 22px; /* icon size */

    
}



.studio-button-label {
   
    text-transform: lowercase;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    white-space: nowrap;
    transform: translateX(20px);
    transition: 0.25s ease all;
   padding: 0 8px;
}

.project-text {
    padding: 10px;
}

/* project hover state*/
.project-card:hover {

    transform: translate3D(0,-1px,0) scale(1.03);
    opacity: 1;
    


    .studio-button-label {
        opacity: 1;
        transform: translateX(0);
        transition: 0.25s 0.1s ease-in opacity, 0.15s 0.1s cubic-bezier(.175, .885, .32, 1.275) transform;
    }
    
    .studio-button {
        max-width: 100%;
    }

}




/* closing + social links */
.social-section {
    display: grid;
    text-align: center;
    margin-top: 5px;
    padding: 40px;
    background-color: #992626;
}

.social-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    filter: invert(100);
    cursor: pointer;
}

.social-container svg {
    object-fit: cover;
    margin-bottom: 10px;
}

.column {
    box-sizing: border-box;
    flex: 1 100%;
    justify-content: space-evenly;
    margin: 20px;
}

.card-style {
    border-radius: 12px;
    border-image-slice: 1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.25s linear;
}

.card-style:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.card-text {
    padding: 20px;
}






/* footer*/

footer {
    background-color: #BBB6A7;
    color: #fff;
    text-align: center;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: 5px auto 10px auto;

}

.logofoot {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;

}

.link-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.link-column {
    text-align: left;
    padding: 10px 0px;
}

.link-column div {
    display: grid;
    width: 100%;
}

.link-column a {
    color: black;
    text-decoration: none;
    margin: auto;
    padding: 2px;
}

.link-column p {
    display: grid;
    color: white;
    margin-top: auto;
    align-items: center;

}

.copyright {
    margin-top: 20px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    text-align: center;
    font-size: 12px;
}


/* media q */

/* small screen*/
@media (max-width: 600px) {
    .column {
        flex: 0 0 calc(100%/2 - 40px);
    }
    .project-head {
        position: sticky;
        top: 0;
        background-color: #992626;
    }

    .selected-works {
        display: grid;
        grid-template-columns: 1fr;
    }

    .link-container {
        grid-template-columns: 1fr;
    }
    .introductionpt2 {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
}

/* large screen*/
@media (max-width: 900px) {
    .column {
        flex: 0 0 calc(100%/4 - 40px);
    }

    .link-container {
        grid-template-columns: 1fr 1fr;
    }
    .project-head {
        position: sticky;
        top: 0;
    }

}